<!DOCTYPE html>

<!--

Oh hi 👋 thanks for taking a look at my code. Everything here is minified for
speed. The original source code, is on GitHub:

https://github.com/willthomson/willthomson.com

-->

<html lang="{{doc.locale}}">
  <head>
    <meta charset="utf-8">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    {% if podspec.meta.google_site_verification %}
    <meta name="google-site-verification" content="{{ podspec.meta.google_site_verification }}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, height=device-height">
    <title>{% if doc.title %}{{ doc.title }} – {% endif %}{{ podspec.title }}</title>
    {% if podspec.meta.image_path %}
      <meta property="og:image" content="{{g.static(podspec.meta.image_path).url}}">
    {% endif %}
    <meta property="og:title" content="{% if doc.title %}{{doc.title}} – {% endif %}{{podspec.title}}">
    <meta property="og:site_name" content="{{podspec.title}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{doc.url}}">
    {% if doc.description %}
    <meta name="description" content="{{doc.description}}">
    <meta property="og:description" content="{{doc.description}}">
    {% endif %}
    <meta name="theme-color" content="#f81057">
    {% if podspec.meta.favicon_path %}
    <link rel="shortcut icon" href="{{g.static(podspec.meta.favicon_path).url.path}}">
    {% endif %}

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400" rel="stylesheet">

    <link href="{{ g.static('/dist/css/composite/global.min.css').url.path }}" rel="stylesheet">
    {% set compositeCssFiles = [doc.view|replace('.html', '')] %}
    {% set compositeCssFiles = compositeCssFiles + (doc.composite_files if doc.composite_files else []) %}
    {% for compositeCssFile in compositeCssFiles %}
      {% if not compositeCssFile.startswith('/') %}
        {% set compositeCssFile = '/' ~ compositeCssFile %}
      {% endif %}
      {% set viewCssFile = '/dist/css/composite' ~ compositeCssFile ~ '.min.css' %}
      {% if doc.pod.file_exists(viewCssFile) %}
        <link href="{{ g.static(viewCssFile).url.path }}" rel="stylesheet">
      {% endif %}
    {% endfor %}
  </head>
  <body>
    {% include "/partials/hero/hero.html" %}
    <div class="main">
      {% block main %}
        {% if doc.partials %}
          {% for field in doc.partials %}
            {% if not field.partial %}
              {% continue %}
            {% endif %}
            {# Render the partial with the values in {{partial}}. #}
            {% set partial_filename = field.partial|expand_partial %}
            {% with partial = field %}
              {% include partial_filename with context %}
            {% endwith %}
          {% endfor %}
        {% else %}
          {{doc.html|safe}}
        {% endif %}
      {% endblock %}
    </div>
    {% include "/partials/footer/footer.html" %}

    <script src="{{ g.static('/dist/js/composite/global.min.js').url.path }}"></script>
    {% set compositeJsFiles = [doc.view|replace('.html', '')] %}
    {% set compositeJsFiles = compositeJsFiles + (doc.composite_files if doc.composite_files else []) %}
    {% for compositeJsFile in compositeJsFiles %}
      {% if not compositeJsFile.startswith('/') %}
        {% set compositeJsFile = '/' ~ compositeJsFile %}
      {% endif %}
      {% set viewJsFile = '/dist/js/composite' ~ compositeJsFile ~ '.min.js' %}
      {% if doc.pod.file_exists(viewJsFile) %}
        <script src="{{ g.static(viewJsFile).url.path }}"></script>
      {% endif %}
    {% endfor %}

    {% if podspec.meta.google_analytics_id %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{podspec.meta.google_analytics_id}}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '{{podspec.meta.google_analytics_id}}');
      </script>
    {% endif %}
  </body>
</html>
