// Colors
$color-text: #050505;
$color-text-light: #fff;
$color-text-grey: #555;
$color-text-highlight: #9DD9D2;
$color-white: #fff;

$color-1: #14fedc;
$color-2: #f81057;
$color-3: #f5f5f5; // sidebar
$color-4: #fefefe; // background
$color-5: #262628;

// Fonts
$font-family-body: 'Roboto Slab', arial, serif;
$font-family-heading: 'Josefin Sans', arial, sans-serif;

// Layout and spacing
$contained-width: 900px;
$line-height: 18px;
