// Colors
$color-bg: #efefef;
$color-text: #050505;
$color-white: #fff;

$color-1: #1b9aaa;
$color-2: #dddbcb;
$color-3: #f5f1e3;
$color-4: #495963;

// Fonts
$font-family: 'Helvetia Neue', arial, sans-serif;

// Layout and spacing
$contained-width: 900px;
$line-height: 18px;
