.main {
  .personal-details {
    @include respond-to(tablet) {
      grid-column: 2 / 3;
      grid-row: 2;
    }

    background-color: $color-3;
    padding-top: 0;
    text-align: center;
    z-index: 1;

    &__heading {
      display: none;
    }

    &__picture {

      border: 8px solid $color-3;
      border-radius: 50%;
      box-sizing: border-box;
      height: 200px;
      margin: -50px 0 30px;
      width: 200px;
    }

    &__social {
      text-align: center;
    }

    &__social-item {
      display: inline-block;
      list-style: none;
      margin: 0 8px;
      position: relative;

      img {
        height: 32px;
      }

      span {
        display: none;
      }
    }

    // Compensate for the mandatory trademark character.
    &__social-item--linkedin {
      margin-right: 0;
    }
  }

  @media screen {
    [data-tooltip] {
      position: relative;

      .personal-details__tooltip {
        background: $color-text;
        border-radius: 4px;
        color: $color-text-light;
        content: attr(data-tooltip);
        display: block;
        opacity: 0;
        padding: 8px;
        position: absolute;
        right: 0;
        top: 38px;
        transition: opacity .3s ease-in;
        white-space: nowrap;

        &::after {
          background: $color-text;
          content: '';
          height: 10px;
          position: absolute;
          right: 11px;
          top: -4px;
          transform: rotate(45deg);
          width: 10px;
        }
      }

      &:hover {
        .personal-details__tooltip {
          opacity: 1;
        }
      }
    }
  }
}

@media print {
  .main {
    .personal-details {
      background: transparent;
      position: absolute;
      right: 0;
      top: 0;
      width: 250px;
    }

    .personal-details__picture {
      display: none;
    }

    .personal-details__social {
      margin-top: 90px;
    }

    .personal-details__social-item {
      display: block;
      font-size: 90%;
      margin: 0 0 10px 20px;
      text-align: left;

      img {
        height: 25px;
        margin-right: 8px;
        vertical-align: middle;
      }

      &--linkedin {
        img {
          margin-right: 0;
        }
      }

      span {
        display: inline;
      }
    }
  }
}
