<section class="personal-details">

  <h2 class="personal-details__heading">{{ partial.title }}</h2>

  <img alt="Photo of Will Thomson" class="personal-details__picture" src="{{ g.static(partial.profile_pic).url.path }}" srcset="{{ g.static(partial.profile_pic_2x).url.path }} 2x">

  <ul class="personal-details__social">

    {% if podspec.meta.social.github %}
      <li class="personal-details__social-item">
        <a title="{{ podspec.meta.social.github }} on GitHub" href="https://www.github.com/{{ podspec.meta.social.github }}/">
          <img alt="GitHub" src="{{ g.static('/static/images/github.svg').url.path }}">
          <span>github.com/{{ podspec.meta.social.github }}</span>
        </a>
      </li>
    {% endif %}

    {% if podspec.meta.social.linkedin %}
      <li class="personal-details__social-item personal-details__social-item--linkedin">
        <a title="{{ podspec.meta.social.linkedin }} on LinkedIn" href="https://www.linkedin.com/in/{{ podspec.meta.social.linkedin }}/">
          <img alt="LinkedIn" src="{{ g.static('/static/images/linkedin.svg').url.path }}">
          <span>linkedin.com/in/{{ podspec.meta.social.linkedin }}</span>
        </a>
      </li>
    {% endif %}

    {% if podspec.meta.social.twitter %}
      <li class="personal-details__social-item">
        <a title="@{{ podspec.meta.social.twitter }} on Twitter" href="https://www.twitter.com/{{ podspec.meta.social.twitter }}/">
          <img alt="Twitter" src="{{ g.static('/static/images/twitter.svg').url.path }}">
          <span>twitter.com/{{ podspec.meta.social.twitter }}</span>
        </a>
      </li>
    {% endif %}

    {% if partial.email %}
      <li class="personal-details__social-item" data-tooltip>
        <a title="Email" href="mailto:{{ partial.email }}">
          <img alt="Email" src="{{ g.static('/static/images/email.svg').url.path }}">
        </a>
        <span class="personal-details__tooltip">{{ partial.email }}</span>
      </li>
    {% endif %}

     {% if partial.phone %}
      <li class="personal-details__social-item" data-tooltip>
        <a title="Phone number" href="tel:{{ partial.phone }}">
          <img alt="Phone" src="{{ g.static('/static/images/phone.svg').url.path }}">
        </a>
        <span class="personal-details__tooltip">{{ partial.phone }}</span>
      </li>
    {% endif %}

  </ul>

</section>
