.education {
  @include respond-to(tablet) {
    grid-column: 2 / 3;
    grid-row: 4;
  }

  background-color: $color-3;

  .education__qualifications {
    margin-bottom: 20px;
  }

  .education__qualification {
    list-style: none;
    margin: 0;
  }

  .education__qualification-logo {
    float: left;
    margin: 5px 20px 0 0;
    max-width: 70px;
  }

  .education__qualification-institution {
    font-family: $font-family-body;
    font-size: 100%;
    font-weight: 400;
    margin: 0;
    text-transform: none;
  }

  .education__qualification-course {
    a {
      @include anchor;
    }
  }
}
