.work-experience {
  @include respond-to(tablet) {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
  }

  .work-experience__responsibilities {
    margin-bottom: 50px;
  }

  background-color: $color-4;
}
