.work-experience {
  @include respond-to(tablet) {
    grid-column: 1 / 2;
    grid-row: 2 / 6;
  }

  background-color: $color-4;

  .work-experience__job {
    height: auto;
    overflow: hidden;
    transition: height .3s ease-out;
  }

  .work-experience__job-heading,
  .work-experience__job-dates {
    margin-bottom: 0;
  }

  .work-experience__job-company {
    color: $color-text-grey;
    font-size: 90%;
    white-space: nowrap;

    a {
      @include anchor;
    }
  }

  .work-experience__job-location {
    margin-bottom: .6em;
  }

  .work-experience__job-logo {
    @include respond-to(largephone) {
      display: block;
    }

    @include respond-to(laptop) {
      max-width: 140px;
    }

    display: none;
    float: right;
    max-height: 70px;
    max-width: 100px;
    padding: 0 0 20px 50px;
  }

  .work-experience__responsibilities {
    margin-bottom: 50px;

    a {
      @include anchor;
    }
  }

  .work-experience__responsibility {
    list-style: none;
    margin: 0 0 20px;
  }

  .work-experience__responsibility-group-description {
    display: block;
    margin-bottom: 20px;
  }
}

.importance-1 {
  .work-experience {
    .work-experience__responsibility,
    .work-experience__responsibility-group-description {
      display: inline;
    }

    .work-experience__responsibility--importance-3,
    .work-experience__responsibility-detail--importance-2,
    .work-experience__responsibility-detail--importance-3 {
      display: none;
    }
  }
}

.importance-2 {
  .work-experience {
    .work-experience__responsibility--importance-3,
    .work-experience__responsibility-detail--importance-3 {
      display: none;
    }
  }
}
