<section class="work-experience">
  <h2 class="work-experience__heading">{{ partial.title }}</h2>
  {% for job in partial.jobs %}
    <div class="work-experience__job">
      {% if job.logo_url %}
        <a href="{{ job.url }}">
          <img class="work-experience__job-logo" src="{{ g.static(job.logo_url).url.path }}" alt="{{ job.company }} logo">
        </a>
      {% endif %}
      <h3 class="work-experience__job-heading">
        {{ job.job_title }}
        <span class="work-experience__job-company">@ <a href="{{ job.url }}">{{ job.company }}</span></a>
      </h3>
      <h4 class="work-experience__job-dates">{{ job.start_date }}–{{ job.end_date }}</h4>
      <h4 class="work-experience__job-location">{{ job.location }}</h4>
      {% if job.responsibilities %}
        <ul class="work-experience__responsibilities">
          {% for responsibility in job.responsibilities %}
            <li class="work-experience__responsibility">{{ responsibility | safe }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  {% endfor %}
</section>
