<section class="work-experience">
  <h2 class="work-experience__heading">{{ partial.title }}</h2>
  {% for job in partial.jobs %}
    <h3 class="work-experience__jobs">{{ job.company }}: {{ job.job_title }} - {{ job.start_date }}–{{ job.end_date}}</h3>
    {% if job.responsibilities %}
      <ul class="work-experience__responsibilities">
        {% for responsibility in job.responsibilities %}
          <li class="work-experience__responsibility">{{ responsibility | safe }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
</section>
