$char-offset: .3;

.hero {
  background-color: $color-5;
  color: $color-text-light;
  grid-column: 1 / 3;
  text-align: center;
  z-index: 0;

  &__content {
    margin: 150px auto;
    max-width: 950px;
  }

  &__heading {
    span {
      display: inline-block;
      margin-left: 0 .12em;
      position: relative;

      &::before {
        color: $color-1;
        content: 'W';
        display: inline-block;
        left: -.12em;
        position: absolute;
        z-index: -1;
      }

      &::after {
        color: $color-2;
        content: 'W';
        display: inline-block;
        left: -.06em;
        position: absolute;
        z-index: -1;
      }
    }
  }
}
