$char-offset: .3;

.hero {
  @include respond-to(tablet) {
    grid-column: 1 / 3;
  }

  background-color: $color-5;
  color: $color-text-light;
  padding: 100px 30px;
  text-align: center;
  z-index: 0;

  &__content {
    margin: 0 auto;
    max-width: 950px;
    position: relative;
    z-index: 1;
  }

  &__heading {
    @include respond-to(largephone) {
      font-size: 70px;
    }
    font-size: 50px;

    span {
      display: inline-block;
      margin-left: 0 .12em;
      position: relative;

      &::before {
        color: $color-1;
        content: 'W';
        display: inline-block;
        left: -.12em;
        position: absolute;
        z-index: -1;
      }

      &::after {
        color: $color-2;
        content: 'W';
        display: inline-block;
        left: -.06em;
        position: absolute;
        z-index: -1;
      }
    }
  }

  &__intro {
    font-size: 18px;
  }

  .hero__importance-btns {
    display: none;
  }
}

@media print {
  .hero {
    background: transparent;
    color: $color-text;
    padding: 0;
    text-align: left;
  }

  .hero__heading {
    font-size: 55px;
    margin-bottom: 0;
    padding-left: .12em;
  }

  .hero__content {
    font-size: 20px;
    margin: 0;
    max-width: auto;
    position: static;
  }

  .hero__intro {
    margin-right: 250px;
  }
}
