@import '../../../node_modules/reset-css/_reset'; // sass-lint:disable-line clean-import-paths
@import '../../../node_modules/flexboxgrid-sass/flexboxgrid';

@import '../common/vars';

.main {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr 2fr;
}

@import '../../../partials/header/header';
@import '../../../partials/footer/footer';
